<div class="container-fluid">
    <div class="row justify-content ">
      <div class="col">
        <tabset>
          <tab  heading="Queue" customClass="tab-style">
            <div class="tab-content">
              <app-audio-queue></app-audio-queue>
            </div>
          </tab>
          <tab  heading="Bookmarks" customClass="tab-style">
            <app-audio-bookmark-details></app-audio-bookmark-details>
          
          </tab>
        </tabset>
      </div>
    </div>
  </div>
  