<div class="container-fluid" style="padding-bottom: 20px;">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
  
      <div *ngFor="let question of questions" class="form-row">
        <app-question [question]="question" [form]="form"></app-question>
      </div>
  
      <div class="form-row mt-3">
        <button type="submit" class="btn btn-danger" [disabled]="!form.valid">Apply</button>
      </div>
    </form>
  
    <!-- <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong>
    </div> -->
</div>