<button type="button"  class="btn btn-success btn-lg" (click) = "home()">Home</button>
<div class="container">
  <form class="m-4" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="mime_type">Media Type :</label>
    <!-- <select  class = "custom-select custom-select-lg mb-3"  formControlName="mediatype" [(ngModel)]="selectedOption"   name="mime_type" (click)="setAccept()">
      <option value="" >Select Any Media Type</option>  
      <option *ngFor="let type of mime_type" [value] = "type.name" >
      {{type.name}}
    </option>
  </select> -->
    <ng-multiselect-dropdown
    name="media_type"
    [placeholder]="'Select Media Type'"
    [data]="mime_type"
    formControlName="mediatype"
    [settings]="mediaTypeSettings"
    (onSelect)="onItemSelect($event)">
</ng-multiselect-dropdown>
</div>

    <div class="form-group row">
        <label for="title">Title :</label>
        <div class="col-md-5 ml-n3 mt-2">
          <input #title type="text"  class="form-control form-control-lg" id="title" formControlName="title" placeholder="Enter Title">
        </div>
      </div>
      <!-- <div class="form-group row">
        <label for="tags" >Tags :</label>
        <div class="col-sm-5">
          <input type="text" class="form-control form-control-lg" id="tags" formControlName="tags" placeholder="Enter Tags">
        </div>
      </div> -->
      <div class="form-group row">
        <label for="category">Category :</label>
        <ng-multiselect-dropdown
        name="category"
        [placeholder]="'Select Category'"
        [data]="allCategory"
        formControlName="categoryctrl"
        (onFilterChange)="onFilterChange($event)"
        [settings]="dropdownSettings"
        (onSelect)="onItemSelect($event)">
    </ng-multiselect-dropdown>
        <!-- <mat-form-field class="demo-chip-list">
          <mat-chip-list #categorychipList>
            <mat-chip
              *ngFor="let cat of category"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeCategory(cat)">
              {{cat}}
              <mat-icon matChipRemove *ngIf="removable"></mat-icon>
            </mat-chip>
            <input
              #categoryInput
              [formControl]="categoryctrl"
              [matAutocomplete]="autocategory"
              [matChipInputFor]="categorychipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addCategory($event)"
            />
          </mat-chip-list>
          <mat-autocomplete #autocategory="matAutocomplete" (optionSelected)="selectedCategory($event)">
            <mat-option *ngFor="let cat of filteredCategory | async" [value]="cat">
              {{ cat }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
      </div> 
      <div class="form-group row">
        <label for="album">Album :</label>
        <mat-form-field class="demo-chip-list">
          <mat-chip-list #albumchipList>
            <mat-chip
              *ngFor="let alb of album"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeAlbum(alb)">
              {{alb}}
              <mat-icon matChipRemove *ngIf="removable"></mat-icon>
            </mat-chip>
            <input
              #albumInput
              [formControl]="albumctrl"
              [matAutocomplete]="autoalbum"
              [matChipInputFor]="albumchipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addAlbum($event)"
            />
            <mat-error *ngIf="album.length == 0 && albumctrl.touched">Add Atleast One Artist</mat-error>
          </mat-chip-list>
          <mat-autocomplete #autoalbum="matAutocomplete" (optionSelected)="selectedAlbum($event)">
            <mat-option *ngFor="let alb of filteredAlbum | async" [value]="alb">
              {{ alb }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-group row">
      <label for="artist">Artists :</label>
      <mat-form-field class="demo-chip-list">
        <mat-chip-list  #artistchipList>
          <mat-chip 
       
            *ngFor="let art of artist"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeArtist(art)">
            {{art}}
            <mat-icon matChipRemove *ngIf="removable"></mat-icon>
          </mat-chip>
          <input
            #artistInput
            [formControl]="artistctrl"
            [matAutocomplete]="autoartist"
            [matChipInputFor]="artistchipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addArtist($event)"
          />
          <mat-error *ngIf="artist.length == 0 && artistctrl.touched">Add Atleast One Artist</mat-error>
        </mat-chip-list>
        <mat-autocomplete #autoartist="matAutocomplete" (optionSelected)="selectedArtist($event)">
          <mat-option *ngFor="let art of filteredArtist | async" [value]="art">
            {{ art }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    
    <br>
    
  <br>
  <button type="button"  class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Add</button>
</form>
<div class="col-lg-12">
  <!-- <div class="control_wrapper">
      <ejs-treeview id="default" [fields]='field' [showCheckBox]='showCheckBox' (nodeChecked)='nodeChecked($event)'></ejs-treeview>
  </div> -->
  </div>
</div>



