.form-group label{
  width: 20%;
  text-align: center;
  padding: .75em 1em;
  appearance: none;
  outline: none;
  line-height: normal;
  border-radius: 0;
  border: none;
  background: none;
  display: block;
  color: white;
  letter-spacing: 1.5;
  font-size:1.4em;
  line-height: 1.25;
  position: relative;
  z-index: 100;
}
.customlabel{
  width: 20%;
  text-align: center;
  padding: .75em 1em;
  appearance: none;
  outline: none;
  line-height: normal;
  border-radius: 0;
  border: none;
  background: none;
  display: block;
  color: white;
  letter-spacing: 1.5;
  font-size:1.4em;
  line-height: 1.25;
  position: relative;
  z-index: 100;
}
.demo-chip-list {
  width: 50%;
  color: white;
}
.chip{
 
  color: white;
}
.btn-success{
  margin-top: 70px;
  margin-left: 90%;
}
.container{
   margin: 0;
   position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%) 
}
.custom-select{
  width: 40%;
}
.custom-file{
  width: 40%;
}
.btn-block{
  width: 30%;
  margin-left: 20%;
}
.btn{
  font-size: 22px;
}

.multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: 1px solid #adadad;
  width: 100%;
  color: aliceblue;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.1;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
}
ng-multiselect-dropdown{
       width : 40%; 
}
.ng-multiselect-dropdown ng-star-inserted{
    background-color: aqua;
}
.multiselect-dropdown .selected-item {
  width: 50%;
  letter-spacing: 1.2px;
  }

  .control_wrapper {
    margin: auto;
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: white;
}