<div class="m-3">
    <div class="d-flex align-items-center justify-content-between">
        <div class="px-2">
            <button (click)="onToggleFilter()">
                <div class="d-flex align-items-center">
                    <fa-icon [icon]="faFilter" style="padding-left: 10px; padding-right: 10px; font-size: 24px;"></fa-icon>
                </div>
            </button>
        </div>
        <h1 class="text-left px-2"> Search</h1>
        <input type="text" class="input" #searchtext placeholder="Search Audio">
        <div class="mr-5 ml-n5" (click)="search(searchtext.value)">
            <fa-icon [icon]="faSearch" style="padding-right: 5px;font-size: 24px;color: white;"></fa-icon>
        </div>
        <div class="px-2">
            <button>
                <div class="d-flex align-items-center">
                    <fa-icon [icon]="faCalendarDay" style="padding-left: 5px; font-size: 24px;"></fa-icon>
                    <fa-icon [icon]="faArrowUp" style="padding-left: 10px; padding-right: 5px; font-size: 24px;"></fa-icon>
                </div>
            </button>
        </div>
        <div class="px-2">
            <button>
                <div class="d-flex align-items-center">
                    <fa-icon [icon]="faStar" style="padding-left: 5px; font-size: 24px;"></fa-icon>
                    <fa-icon [icon]="faArrowUp" style="padding-left: 10px; padding-right: 5px; font-size: 24px;"></fa-icon>
                </div>
            </button>
        </div>
        <div class="px-2">
            <button>
                <div class="d-flex align-items-center">
                    <fa-icon [icon]="faEye" style="padding-left: 5px; font-size: 24px;"></fa-icon>
                    <fa-icon [icon]="faArrowUp" style="padding-left: 10px; padding-right: 5px; font-size: 24px;"></fa-icon>
                </div>
            </button>
        </div>
        
    </div> 

    <hr>

    <div class="container-fluid"> 
        <div class="row" style="padding:0px" *ngIf="filterOpened">
            <div class="px-3"  id="filterPane"  style="width: 405px;">
                <label>Filters</label>   
                <hr>                
                <app-dynamic-form [questions]="questions$ | async"></app-dynamic-form>
            </div>
            <div style="width: 75%;">
              
                <app-audio-list *ngIf="!thumbview" style="width: 100%;"></app-audio-list>
            </div>
        </div>
        <div class="row" *ngIf="!filterOpened">
         
            <app-audio-list  style="width: 100%;"></app-audio-list>
        </div>
    </div>
</div>