<div class="sidenav cardshadow">
  <ul class="nav flex-column">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link active" style="color: #66B92E;cursor: pointer;text-align: center;"  (click)="audioHome()">

        <svg-icon src="../../../../assets/icons/library_music-24px.svg" [stretch]="true"
          [svgStyle]="{'fill':'#66B92E','height':'35px','width':'35px'}" class="icon-sidebar">
        </svg-icon>
      </a>
    </li>
    <li class="nav-item mt-3" routerLinkActive="active">
      <a class="nav-link icon-color" style="color: #fc6e20;cursor: pointer;text-align: center;" [routerLink]="['/video']">

        <svg-icon src="../../../../assets/icons/video_library-24px.svg" [stretch]="true"
          [svgStyle]="{'fill':'#fc6e20','height':'35px','width':'35px'}" class="icon-sidebar">
        </svg-icon>
      </a>
    </li>
    <li class="nav-item mt-3" routerLinkActive="active">
      <a class="nav-link icon-color" style="color: #440fd8;cursor: pointer;text-align: center;" [routerLink]="['/eBook']">

        <svg-icon src="../../../../assets/icons/library_books-24px.svg" [stretch]="true"
          [svgStyle]="{'fill':'#2499F2','height':'35px','width':'35px'}" class="icon-sidebar">
        </svg-icon>
      </a>
    </li>
  </ul>
</div>
