<div class="container-fluid">
    <div class="container-fluid thumbnail-container" style="padding-right: 18px; padding-left: 18px; padding-top: 40px; padding-bottom: 20px;">
        <div class="d-flex flex-wrap">
            <div *ngFor="let video of videos" style="width: 415px; padding-right:20px; padding-left:20px; padding-bottom: 20px;">
                <app-video-thumb-card [video]="video"> </app-video-thumb-card>
            </div>
        </div>
    </div>
</div>