<div class="d-flex align-items-center">
    <div class="mr-auto p-2 d-flex align-items-center justify-content-start">
        <label class="text-ellipis">
            {{selectedList.title}} 
        </label>
        <span class="badge badge-pill badge-secondary mx-3">{{total}}</span>
    </div>
</div>
<hr>
<div class="card text-center">
    <div class="card-header text-left">
        Bookmark at {{selectedBookmark.bookmark}}
    </div>
    <div class="card-body">
        <textarea class="form-control" rows="18" [(ngModel)]="selectedBookmark.description">            
        </textarea>
    </div>
    <div class="card-footer text-right">
        <button class="btn mx-3 px-5 py-2" (click)="onCancel()">Cancel</button>
        <button class="btn mx-3 px-5 py-2" (click)="onDone()">Done</button>
    </div>
</div>