label{
    font-size: 36px;
    color: #fff;
    line-height: 1.31;
    font-weight: normal;
    margin-bottom: 0px;
}

.badge{
    font-size: 24px;
    line-height: 1.31;
}

#grid{
    width: 100%;
    height:  630px;
}

.text-ellipis{
    max-width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;

}

.icon{
    color: #fff;
    font-size: 30px ;
}

.card{
    border: solid 1px #888888;
    font-size: 24px;
}

.card-header{
    background-color: #454747;
    border-bottom: solid 1px #888888;
    color: #e1e1e1;
}

.card-body{
    background-color: #24272a;
    color: #c4c4c4;
}

textarea, textarea:focus, textarea:active{
    background-color: #000000;
    color: #c4c4c4;
    border: none;
    resize: none;
    outline: none !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.card-footer{
    background-color: #454747;
    border-top: solid 1px #888888;
}

button, button:focus, button:active, button:hover{
    color: #e1e1e1;
    border-radius: 50px;
    border: solid 1px #66b92e;
    background-color: #1b1b1b;
    font-size: 24px;
}
