<div class="row card-body">
  <app-category></app-category>
</div>

<div class="d-flex align-items-center justify-content-between">
  <p class="text-left text-white" style="font-size: 24px;">Recommended by sadguru santo</p>
  <div class="text-right">

    <div class="px-2" *ngIf="!thumbview">
      <button (click)="onViewChange()">
          <div class="d-flex align-items-center">
            <fa-icon [icon]="faTh" style="padding-left: 10px; padding-right: 10px; font-size: 24px;"></fa-icon>
          </div>
        </button>
  </div>
  <div class="px-2" *ngIf="thumbview">
    <button (click)="onViewChange()">
      <div class="d-flex align-items-center">
        <fa-icon [icon]="faThList" style="padding-left: 10px; padding-right: 10px;  font-size: 24px;"></fa-icon>
      </div>
    </button>
  </div>
</div>
</div>
<hr style="background-color: #707070;">
  
<div class="container-fluid">
  <div class="row">
    <app-video-thumb *ngIf="thumbview"></app-video-thumb>
    <app-video-list *ngIf="!thumbview" style="width: 100%;"></app-video-list>
  </div>
</div>