customRow {
  border: 1px solid #888888;
  border-radius: 25px;
  background-color: #24272a;
}

.container-fluid .thumbnail-container{
  border-radius: 20px;
  border: 1px solid #888888;
  background-color: #24272a;
}

button, button:focus{
  color: #fff;
  border-radius: 7px;
  box-shadow: 0 3px 6px 0 #000000;
  border: solid 1px #707070;
  background-color: #1b1b1b;
  padding: auto;
  height: 58px;
  outline: none;
}