.custom-style{
    font-size: 20px;
    color: #888888;
}


.video-title{
    margin-bottom: 10px;
    font-size: 24px;
    color: #e1e1e1;
}

.demo
{
    width: 700px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    text-overflow: ellipsis;
}