<label class="video-title demo">{{title}}</label>
 
<div class="d-flex custom-style" style="width: 300px;">
    <div class="mr-auto py-1 px-2">
        <fa-icon [icon]="faStar" class="pr-1"></fa-icon>
        <fa-icon [icon]="faStar" class="pr-1"></fa-icon>
        <fa-icon [icon]="faStar" class="pr-1"></fa-icon>
        <fa-icon [icon]="faStar" class="pr-1"></fa-icon>
        <fa-icon [icon]="faStar" class="pr-1"></fa-icon>
    </div>
    <div class="py-1 px-2">
        <fa-icon [icon]="faEye" class="pr-2"></fa-icon> 
        <label>{{view}}</label>  
    </div>
</div>
