<div class="d-flex align-items-center">
    <div class="mr-auto p-2 d-flex align-items-center justify-content-start">
        <label class="text-ellipis">
            {{selectedList.title}} 
        </label>
        <span class="badge badge-pill badge-secondary mx-3">{{total}}</span>
    </div>

    <div class="px-2">
        <div 
            *ngIf = "rowSelected"
            class="icon icon-queue" 
            style="margin-left: 10px; margin-right: 10px; margin-top: 10px;"
        ></div>
    </div>
    <div class="p-2" id="delete" >
        <fa-icon 
            *ngIf="rowSelected"
            [icon]="faTrashAlt" size="2x" 
            [styles]="{'color':'#fff'}" 
            style="margin-left: 10px; margin-right: 10px;"
            ></fa-icon>
            <!-- (click)="onDeleteMultiple(selectedPlaylist.getId)" -->
    </div>
</div>
<hr>
<ag-grid-angular
    id="grid"
    class="ag-theme-alpine-dark"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [frameworkComponents]="frameworkComponents"
    [rowSelection]="rowSelection"
    [rowMultiSelectWithClick]="rowMultiSelectWithClick"
    (firstDataRendered)="onFirstDataRendered($event)"
    (gridReady)="onGridReady($event)"
    (selectionChanged)="onSelectionChanged($event)"
    (cellClicked)="onCellCilcked($event)"
    headerHeight = 35
    animateRows="true"
    >
</ag-grid-angular>