.header {
    margin-top: 5px;
    margin-left: 5px;
    }
    .title {
    color: #fff;
    }
    .modal {
    
    left: 33%;
    top: 33%;
    justify-content: left;
    background-color: #000;
    border: solid 1px #fc6e20;
    border-radius: 20px;
    max-width: 500px;
    width: 500px;
    max-height: 500px;
    height: 500px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.8);
    font-family: "boston-regular";
    }
    .modal-title {
    color: #fff;
    background-color: #000;
    border-radius: 15px 15px 0px 0px;
    padding: 5px;
    font-weight: normal;
    }
    .modal-content {
    color: #c4c4c4;
    background-color: #000;
    border-radius: 15px;
    }
    .bs-popover-left .arrow::after {
    border-left-color: #000;
    }
    .bs-popover-right .arrow::after {
    border-right-color: #000;
    }
    .bs-popover-top .arrow::after {
    border-top-color: #000;
    }
    .bs-popover-bottom .arrow::after {
    border-bottom-color: #000;
    }
    .table-row {
    padding: 3px;
    }
    
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "boston-regular";
    }
    
    li {
    padding: 15px;
    cursor: pointer;
    }
    
    /* Styling modal */ 
    .modal .modal-content { 
        padding: 20px 20px 20px 20px; 
        -webkit-animation-name: modal-animation; 
        -webkit-animation-duration: 0.5s; 
        animation-name: modal-animation; 
        animation-duration: 0.5s; 
    } 
      
    @-webkit-keyframes modal-animation { 
        from { 
            top: -100px; 
            opacity: 0; 
        } 
        to { 
            top: 0px; 
            opacity: 1; 
        } 
    } 
      
    @keyframes modal-animation { 
        from { 
            top: -100px; 
            opacity: 0; 
        } 
        to { 
            top: 0px; 
            opacity: 1; 
        } 
    }