<div class="modal-dialog-centered">
    
    <div class="modal-body" style="background-color: black;color: white;">
        <div class="container">       
            <div class="row mt-n5">
                <div class="col-10">
                <h4 class="modal-title text-center ml-2">Add to Playlist</h4>
                </div>
                <div class="col">
                <button type="button" class="close text-white" aria-label="Close" (click)="bsModalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            </div>
            <div class="row" style="height: 360px;">
                <ul>
                    <li *ngFor="let item of playlists; let index = index">
                        <div class="row">
                            <div>
                                <svg-icon src="../../../../assets/icons/playlist_play-black-24dp.svg" [stretch]="false"
                                    [svgStyle]="{'fill':'#ffffff','height':'40px','width':'37px'}" class="ml-3">
                                </svg-icon>
                            </div>
                            <div class="ml-2 mt-2" (click)="addToPlaylist(index)">
                                <p *ngIf="!item.is_added">{{item.name | slice:0:20}}</p>
                                <p style="color: #fc6e20;" *ngIf="item.is_added">{{item.name | slice:0:20}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row sticky-bottom">
                <form #playlistForm="ngForm" (ngSubmit)="onSubmit(playlistForm)">
                <div class="form-row">
                    <div class="col-4">
                        <h4>create new</h4>
                    </div>
                    <div class="col-6">
                        <input type="text" id="new_playlist_name" name="new_playlist_name" class="form-control" ngModel required>
                    </div>
                    <div class="col-2">
                        <button type="submit" [disabled]="!playlistForm.valid" class="btn btn-md" style="border-color: #fc6e20;color: #fc6e20;" >Create</button>
                        <!-- (click)="createPlaylist(id)" -->
                    </div>
                </div>                              
                </form>
            </div>
        </div>
    </div>
</div>