
<button type="button"  class="btn btn-success btn-lg" (click) = "addItem()">Add Item</button>
  <div class="container-fluid"> 
    <div class="row">
        <ag-grid-angular
           style="width: 100%; height: 900px;"
            class="ag-theme-alpine-dark"
            id="grid"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [frameworkComponents]="frameworkComponents"
            [domLayout]="domLayout"
            [getRowNodeId]="getRowNodeId"
            (firstDataRendered)="onFirstDataRendered($event)"
            (gridReady)="onGridReady($event)"
            (selectionChanged)="onSelectionChanged($event)"
            (cellClicked)="oncellClicked($event)"
            (cellValueChanged)="onCellValueChanged($event)"
            headerHeight = 35
            rowHeight = 77.5
            animateRows="true"
        >
        </ag-grid-angular>
    </div>
</div>