<div class="container-fluid">
  <div class="row" style="z-index: 1;position: fixed;">
    <app-header></app-header>
  </div>
  <div class="row">

    <div class="container" style="margin-top: 180px;">

      <div class="row text-center">

        <a style="cursor: pointer;text-decoration: none;"   (click)="audioRedirect()">
          <div class="rectangle-audio text-center" >
            <div style="margin-top: 64px;">
              <svg-icon src="../../assets/icons/library_music-24px.svg" [stretch]="true"
                [svgStyle]="{'fill':'#66b92e','height':'78px','width':'78px'}" class="icon-sidebar">
              </svg-icon>
            </div>
            <h5 class="card-title" style="color: #66b92e;font-size:55px;">AUDIO</h5>
          </div>
        </a>

        <a style="cursor: pointer;text-decoration: none;" routerLink="/video">
          <div class="rectangle-video text-center">
            <div style="margin-top: 64px;">
              <svg-icon src="../../assets/icons/video_library-24px.svg" [stretch]="true"
                [svgStyle]="{'fill':'#fc6e20','height':'78px','width':'78px'}" class="icon-sidebar">
              </svg-icon>
            </div>
            <h5 class="card-title" style="color: #fc6e20;font-size:55px;">VIDEO</h5>
          </div>
        </a>

        <a style="cursor: pointer;text-decoration: none;" routerLink="/eBook">
          <div class="rectangle-eBook text-center">
            <div style="margin-top: 64px;">
              <svg-icon src="../../assets/icons/library_books-24px.svg" [stretch]="true"
                [svgStyle]="{'fill':'#2499f2','height':'78px','width':'78px'}" class="icon-sidebar">
              </svg-icon>
            </div>
            <h5 class="card-title" style="color: #2499f2;font-size:55px;">E-BOOK
            </h5>
          </div>
        </a>

      </div>

    </div>

  </div>

</div>
