.rectangle-audio {
  width: 281px;
  height: 281px;
  border-radius: 20px;
  box-shadow: 0 10px 30px 0 #1b1b1b;
  border: solid 2px #66b92e;
  background-color: #1b1b1b;
  align-items: center;
  justify-content: center;
}
.rectangle-video {
  width: 281px;
  height: 281px;
  margin-left: 88px;
  border-radius: 20px;
  box-shadow: 0 10px 30px 0 #1b1b1b;
  border: solid 2px #fc6e20;
  background-color: #1b1b1b;
  align-items: center;
  justify-content: center;
}
.rectangle-eBook {
  width: 281px;
  height: 281px;
  margin-left: 88px;
  border-radius: 20px;
  box-shadow: 0 10px 30px 0 #1b1b1b;
  border: solid 2px #2499f2;
  background-color: #1b1b1b;
  align-items: center;
  justify-content: center;
}
