<div class="ml-3 mr-3" style="width: 425px;background-color: #323232;">

  <div class="row back">

    <a [routerLink]="['../video',video.id]" class="list-group-item">

      <video style="width: 380px;height: 250px;">
        <source src="{{video.src}}#t=5" type="video/mp4" />
      </video>

      <h4 class="list-group-item-heading">{{ video.title | slice:0:35}}</h4>

    </a>
  </div>

  <div class="row back ">

    <div class="float-left col">
      <fa-icon [icon]="faStar" *ngFor="let i of Arr(video.rating).fill(1)"
        class="icon float-left fa-md white ml-1 mr-2">
      </fa-icon>
      &nbsp;&nbsp;
      <fa-icon [icon]="faStarR" *ngFor="let i of Arr(5-video.rating).fill(1)"
        class="icon float-left fa-md white ml-1 mr-2">
      </fa-icon>&nbsp;&nbsp;
    </div>

    <div class="float-right col-6 row ml-6">

      <fa-icon [icon]="faEye" class="icon  fa-lg white"></fa-icon>&nbsp;&nbsp;
      <p class=" white">{{video.view}}</p>
      <fa-icon [icon]="faHeart" class="icon fa-lg white ml-3"></fa-icon>&nbsp;&nbsp;
      <fa-icon [icon]="faInfoCircle" class="icon fa-lg white ml-3"></fa-icon>&nbsp;&nbsp;
    </div>
  </div>
</div>
