.bg {
    height: 100%;
    background-image: url('./../../assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.login-card {
    margin: 0;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;


    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.logo-img {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    object-fit: contain;
    box-shadow: 0 3px 10px 0 #1b1b1b;
}

.login-button {
    background-color: #fc6e20;
    border: none;
    border-radius: 40px;
    color: white;
}

.login-button:focus {
    color: black;
    box-shadow: inset 0 0px 0 #fc6e20;
}


.input-field {
    color:#FFE7D0;
    background-color: rgba(0, 0, 0, 0); 
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-color: #ffe7d0;
    border-width: 2px;
}
.input-field:focus {
    box-shadow: inset 0 0px 0 #fc6e20;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-color: #fc6e20;
    border-width: 2px;
}