<div  class="bg">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
        <div class="card login-card">
            <img src="./../../assets/logo.jpeg" class="mx-auto d-block logo-img">
            <div class="text-center m-5 px-5">
            <h1 class="font-weight-bold" style="color: #FC6E20;">MEDIA LIBRARY</h1>
            </div>
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">    
                <!-- {{csrf_token}}             -->
                <!-- <input id="token" type="hidden" name="_csrf" value="{{csrftoken}}" /> -->
                <div class="form-group mb-4 mx-5">
                    <input required type="text" class="form-control input-field" id="username" name="username" placeholder="Username" ngModel required email>
                </div>
                <div class="form-group-lg mx-5 mt-4">
                    <input required type="password" class="form-control input-field" id="password" name="password" placeholder="Password" ngModel required >
                </div>
                <div class="text-center mt-5">
                    <button type="submit" [disabled]="!authForm.valid" class="btn btn-lg rounded-pill mt-5 mb-5 px-5 login-button">LOGIN</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
