<div [formGroup]="form">
    <label [attr.for]="question.key" style="color: white;">{{question.label}}</label>
  
    <div [ngSwitch]="question.controlType">
  
        <input *ngSwitchCase="'date'" [formControlName]="question.key" class="form-control" [id]="question.key" [type]="question.type">        

        <ng-select *ngSwitchCase="'textbox'" 
            style="width: 350px;"
            [items]="question.suggestions"
            bindLabel="question.key"
            [formControlName]="question.key"                              
            [hideSelected]="true"
            [placeholder]="question.placeHolder"
            appendTo="body"
            [multiple]="question.multipleSelection"
            [(ngModel)]="question.value">
        </ng-select>
  
        <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
            <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
        </select>
  
    </div>
  
  </div>