<a
    container="body"
    placement="auto"
    [popover]="content"
    
    [outsideClick]="true">
    <fa-icon [icon]="faInfoCircle"></fa-icon>
</a>

<ng-template #content>
    <div>
        <div class="header d-flex justify-content-between">
            <div class="text-left font-weight-bold title">{{title}}</div>
            <div class="text-right mr-2">
                <fa-icon [icon]="faEye">  </fa-icon> {{ views}} 
                <fa-icon [icon]="faStar">  </fa-icon> {{ rating}} 
            </div>
        </div>
        <hr style="background-color:#C4C4C4">
        <div class='content'>  
            <table>
                <div class="table-row" *ngFor="let item of desc | keyvalue">
                    <tr>
                    <td>{{item.key}}:</td>
                    <td>{{item.value}}</td>
                    </tr>
                </div>
            </table>
        </div>
    </div>
</ng-template>