.header {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 24px;
}
.title {
  color: #fff;
}
.popover {
  background-color: #000;
  border: solid 1px #66b92e;
  border-radius: 15px;
  max-width: 500px;
  width: 500px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.8);
  font-family: "boston-regular";
}
.popover-title {
  color: #fff;
  background-color: #000;
  border-radius: 15px 15px 0px 0px;
  padding: 15px;
  font-weight: normal;
}
.popover-content {
  color: #c4c4c4;
  background-color: #000;
  border-radius: 15px;
  font-size: 22px;
}
.bs-popover-left .arrow::after {
  border-left-color: #000;
}
.bs-popover-right .arrow::after {
  border-right-color: #000;
}
.bs-popover-top .arrow::after {
  border-top-color: #000;
}
.bs-popover-bottom .arrow::after {
  border-bottom-color: #000;
}
.table-row {
  padding: 3px;
}
