<div class="m-3">
    <div class="d-flex align-items-center justify-content-between">
        <h1 class="text-left">Favorite</h1>
        <input type="text" class="input" placeholder="Search Audio">
        <div class="px-2">
            <div 
            *ngIf = "rowSelected"
            class="icon icon-queue" 
            (click)="addToQueue()"
            style="margin-left: 10px; margin-right: 10px; margin-top: 10px;"
            ></div>
        </div>
        <div class="p-2" id="delete" >
            <fa-icon 
                *ngIf="rowSelected"
                [icon]="faTrashAlt" size="2x" 
                [styles]="{'color':'#fff'}" 
                (click)="removeFromFavorite()"
                style="margin-left: 10px; margin-right: 10px;"
            ></fa-icon>
        </div>
    </div> 
    <hr>
    <div class="container-fluid"> 
        <div class="row">
            <ag-grid-angular
                id="grid"
                class="ag-theme-alpine-dark"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [frameworkComponents]="frameworkComponents"
                [rowSelection]="rowSelection"
                [rowMultiSelectWithClick]="rowMultiSelectWithClick"
                [domLayout]="domLayout"
                (firstDataRendered)="onFirstDataRendered($event)"
                (gridReady)="onGridReady($event)"
                (selectionChanged)="onSelectionChanged($event)"
                (cellClicked)="oncellClicked($event)"
                headerHeight = 35
                rowHeight = 77.5
                animateRows="true"
            >
            </ag-grid-angular>
        </div>
    </div>
</div>