/* You can add global styles to this file, and also import other style files */

/* // regular style toast */
@import '~ngx-toastr/toastr';

/* // bootstrap style toast  */
/* // or import a bootstrap 4 alert styled design (SASS ONLY)  */
/* // should be after your bootstrap imports, it uses bs4 variables, mixins, functions  */
/* @import '~ngx-toastr/toastr-bs4-alert'; */

@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
body {
  background-color: #323232;
  font-family: 'boston-regular';
}

body,html{
    height: 100%;
}

hr{
  background-color: #888888;
}

/*---------------scroll-bar--------------*/
::-webkit-scrollbar {
  width: 10px;
  opacity: 0.5;
}

::-webkit-scrollbar-track {
    background:  rgba(74, 74, 74, 0);
    margin-bottom: 10px;
    margin-top: 10px;
}

::-webkit-scrollbar-thumb {
  background:  #0e0e0e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background:  black;
  width: 30px;
}

::-webkit-scrollbar-corner{
  background:  rgba(74, 74, 74, 0);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
