<ng-template #content let-id="id">
  <div> 
    <div class='content'>  
      <a style="cursor: pointer;" (click)="addToPlaylist(id)">
        <div class="row">
          <div class="col-1">
              <svg-icon src="../../../../assets/icons/playlist_add-24px.svg" [stretch]="false"
              [svgStyle]="{'fill':'#ffffff','height':'35px','width':'35px'}" class="ml-3">
            </svg-icon>
          </div>
          <div class="col-10">
            <p style="font-size: 24px;margin-left: 25px;">Add to playlist</p>
          </div>
        </div>
      </a>
      <div class="row">
        <div class="col-1">
          <svg-icon src="../../../../assets/icons/favorite-24px.svg" [stretch]="false"
          [svgStyle]="{'fill':'#ffffff','height':'30px','width':'25px'}" class="ml-3">
          </svg-icon>
        </div>
        <div class="col-10">
          <p style="font-size: 24px;margin-left: 25px;">Add to Favorites</p>
        </div>
      </div>
      <a style="cursor: pointer;" (click)="deleteFromQueue(id)">
        <div class="row">
          <div class="col-1">
              <svg-icon src="../../../../assets/icons/delete_forever-24px.svg" [stretch]="false"
              [svgStyle]="{'fill':'#ffffff','height':'35px','width':'35px'}" class="ml-3">
            </svg-icon>
          </div>
          <div class="col-10">
            <p style="font-size: 24px;margin-left: 25px;">Remove from Queue</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</ng-template>

<div class="card roundedcustom " style="background-color: #181D23;border: 1px solid #888888;">
  <div class="card-header text-left roundedcustomheader" id="queueHeader" style="background-color: #454747;">

    <div class="row ml-2">
      <h2 class="card-title text-left" style="color: white;">Queue</h2>
      <a class="card-title text-right col" style="color: white;font-size: 20px;" *ngIf="isCollapsed" (click)="collapseChange(false)" [attr.aria-expanded]="!isCollapsed" aria-controls="queuecard">
        <svg-icon src="../../../../assets/icons/expand_more-24px.svg" [stretch]="false"
          [svgStyle]="{'fill':'#ffffff','height':'35px','width':'35px'}" class="ml-3">
        </svg-icon>
      </a>
      <a class="card-title text-right col" style="color: white;font-size: 20px;" *ngIf="!isCollapsed" (click)="collapseChange(true)" [attr.aria-expanded]="!isCollapsed" aria-controls="queuecard">
        <svg-icon src="../../../../assets/icons/expand_less-24px.svg" [stretch]="false"
          [svgStyle]="{'fill':'#ffffff','height':'35px','width':'35px'}" class="ml-3">
        </svg-icon>
      </a>
    </div>

  </div>
  

  <div id="queuecard" [collapse]="isCollapsed">

  <div class="card-body justify-content-between sidescroll roundedcustombody" style="background-color: #24272a;">
    <ul style="background-color: #24272a;">
      <li *ngFor="let item of videos; let index = index" [class.selected]="item === currentItem">
        

        <div class="d-flex justify-content-between col-lg-12 " style="height: 145px;">

          <a class="float-left col-2" [routerLink]="['../',item.id]">
            <video style="width: 225px;height: 160px">
              <source src="{{item.src}}#t=5" type="video/mp4" />
            </video>
          </a>
          <div class="float-left col-6">

            <div class="card-body">
              <div class="row">
                <div class="text-left">
                  <p class="white">{{item.title | slice:0:20}}</p>
                </div>
                
                <div class="text-right col">
                    <a container="body" [popover]="content" [outsideClick]="true" placement="auto" [popoverContext]="{id:item.id}">
                      <fa-icon [icon]="faEllipsisV" class="icon fa-md white"></fa-icon>
                    </a>
                </div>
              </div>
              <div class="row mt-2">
                <fa-icon [icon]="faStar" class="icon float-left fa-xs white"></fa-icon>&nbsp;&nbsp;
                <fa-icon [icon]="faStar" class="icon float-left fa-xs white"></fa-icon>&nbsp;&nbsp;
                <fa-icon [icon]="faStar" class="icon float-left fa-xs white"></fa-icon>&nbsp;&nbsp;
                <fa-icon [icon]="faStar" class="icon float-left fa-xs white"></fa-icon>&nbsp;&nbsp;
                <fa-icon [icon]="faStarR" class="icon float-left fa-xs white"></fa-icon>&nbsp;&nbsp;
                <fa-icon [icon]="faEye" class="icon float-left fa-md white ml-2"></fa-icon>&nbsp;&nbsp;
                <p class=" white">122</p>
              </div>


            </div>

          </div>


        </div>

        <hr style="background-color: rgb(129, 129, 129);">
      </li>
    </ul>

  </div>
</div>
</div>
