<ul class="list-group">
    <li class="list-group-item" *ngFor="let playlist of playlists" [routerLink]="[playlist.getId]" routerLinkActive="active"> 
        <div class="d-flex">
            <div class="mr-auto p-2 col-xl-8">
                <Label class="text-ellipis"  style="margin-bottom: 0px;">{{playlist.getName}}</Label>
            </div>
            <div class="p-2">
                <fa-icon [icon]="faPencilAlt" ></fa-icon>
            </div>
            <div class="p-2">
                <fa-icon [icon]="faTrashAlt" (click)="onDeletePlaylist(playlist.get)"></fa-icon>
            </div>
        </div>
    </li>
</ul>