<ng-template #addBookmarkModal>
  <div class="rounded-0">
    
    <div class="modal-body" style="background-color: black;color: white;">
      <div class="row">
        <div class="col-10">
          <h4 class="modal-title text-center ml-2">Bookmark at {{bookmarkTime}}</h4>
        </div>
        <div class="col">
          <button type="button" class="close text-white" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <form>
      <div class="form-group">
        <textarea class="form-control text-white" id="bookmark_desc" rows="13" placeholder="Enter notes..." style="background-color:#323232;color: white;border: none;"></textarea>
      </div>
      <div class="row" style="justify-content: center;">
        <button type="button" class="btn text-center btn-outline-dark text-white" style="border-radius: 20px;border: 1px solid tomato;width: 100px;" (click)="addBookmark()">
          Add
        </button>
      </div>
    </form>
  </div>
</div>
</ng-template>


<vg-player (onPlayerReady)="onPlayerReady($event)" class=" cardshadow" vg-responsive="true">

  
    <div class="container row col-12">
      <div class="col-4" style="z-index: 200;" (dblclick)="backward10sec($event)">
        <!-- <fa-icon [icon]="faUndo" class="icon text-white overlay-icon" *ngIf="isBackShow"></fa-icon> -->
        <div style="margin-top: 75%;">
          <svg-icon src="../../../../assets/icons/replay_10-24px.svg" [stretch]="false"
            [svgStyle]="{'fill':'#ffffff','height':'80px','width':'80px','opacity':'0.5'}" class="ml-3" *ngIf="isBackShow">
          </svg-icon>
        </div>
      </div>
      <div class="col-4" style="z-index: 200;">
        <vg-overlay-play ></vg-overlay-play>
        <vg-buffering></vg-buffering>
      </div>
      <div class="col-4" style="z-index: 200;" (dblclick)="forward10sec($event)">
        <div style="margin-top: 75%;">
          <svg-icon src="../../../../assets/icons/forward_10-24px.svg" [stretch]="false"
            [svgStyle]="{'fill':'#ffffff','height':'80px','width':'80px','opacity':'0.5'}" class="ml-3" *ngIf="isForwardShow">
          </svg-icon>
        </div>      
      </div>
    </div>
    
    
  <vg-controls style="height: 90px;" *ngIf="isControlShown">
    <div class="container-fluid" >
      <div class="row col-12">
        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
      </div>
      <div class="container col-12">
        <div class="row float-left">
          <div (click)="previousVideo()" class="mt-3">
            <fa-icon [icon]="faFastBackward" class="icon text-white fa-lg"></fa-icon>
          </div>
          <div (click)="backward10sec($event)" class="ml-3 mt-3">
            <fa-icon [icon]="faUndo" class="icon text-white fa-lg"></fa-icon>
          </div>

          <vg-play-pause></vg-play-pause>
          <div (click)="forward10sec($event)" class="mt-3">
            <fa-icon [icon]="faRedo" class="icon text-white fa-lg"></fa-icon>
          </div>
          <div (click)="nextVideo()" class="ml-3 mt-3">
            <fa-icon [icon]="faFastForward" class="icon text-white fa-lg"></fa-icon>
          </div>

          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
        </div>

        <div class="row float-right">
          <div class="ml-3">
            <input type="range" min="0.5" max="2" value="{{currentSpeed}}" step="0.1"
              class="slider form-control-range mt-3" (change)="handlespeed($event.target.value)">
            <span class="range-slider__value">{{currentSpeed}}</span>
          </div>
          <div class="ml-3 mt-2 text-white">
            <h4>{{currentSpeed}}X</h4>
          </div>



            <div class="ml-3 mt-3" (click)="openModal(addBookmarkModal)">
              <fa-icon [icon]="faBookmark" class="icon text-white fa-lg" data-toggle="modal" data-target="#exampleModal">
            </fa-icon>


          </div>

          <vg-fullscreen></vg-fullscreen>
          <div (click)="pipr()" class="ml-2 mt-3">
            <fa-icon [icon]="faShare" class="icon text-white fa-lg"></fa-icon>
          </div>
        </div>

      </div>
    </div>
  </vg-controls>

  <video #media [vgMedia]="media" [src]="currentItem.src" id="singleVideo" preload="auto" crossorigin
    class="video-stream html5-main-video">
  </video>
  <!-- <video #media [vgMedia]="media" id="singleVideo" preload="auto" crossorigin
    class="video-stream html5-main-video">
    <source src="{{currentItem.src}}" type='video/mp4' />
  </video> -->
  

</vg-player>

<div class="row mt-3">
  <div class="col">
    <p class="display-4 orange">{{currentItem.title |slice:0:60}}</p><p *ngIf="currentItem.title?.length>60">...</p>
  </div>
  <div class="col-1 mt-3">

    <div class="row float-right mr-2">
      <fa-icon *ngIf="!currentItem.favorite" [icon]="faHeartR" class="icon fa-lg white mt-2" (click)="favoriteChange()"></fa-icon>
      <fa-icon *ngIf="currentItem.favorite" [icon]="faHeart" class="icon fa-lg white mt-2" (click)="favoriteChange()"></fa-icon>

      <svg-icon src="../../../../assets/icons/playlist_add-24px.svg" [stretch]="false"
          [svgStyle]="{'fill':'#ffffff','height':'35px','width':'35px'}" class="ml-3" (click)="addToPlaylist(currentItem.id)">
        </svg-icon>
      <!-- <fa-icon [icon]="faList" class="icon fa-lg ml-3 white"></fa-icon> -->
    </div>

  </div>
</div>
<div class="row">
  <div class="row col">
    <fa-icon [icon]="faEye" class="icon fa-lg ml-3 white"></fa-icon>&nbsp;&nbsp;
    <p class="ml-2 white" style="font-size: 20px;margin-top: 0px;">122</p>

    <fa-icon [icon]="faStar" class="icon float-left fa-lg orange ml-3"></fa-icon>&nbsp;&nbsp;
    <fa-icon [icon]="faStar" class="icon float-left fa-lg orange"></fa-icon>&nbsp;&nbsp;
    <fa-icon [icon]="faStar" class="icon float-left fa-lg orange"></fa-icon>&nbsp;&nbsp;
    <fa-icon [icon]="faStar" class="icon float-left fa-lg orange"></fa-icon>&nbsp;&nbsp;
    <fa-icon [icon]="faStarR" class="icon float-left fa-lg orange"></fa-icon>&nbsp;&nbsp;
  </div>
  <div class="col-5">
    <div class="row float-right">
      <p class="ml-2 mt-1 white" style="font-size: 24px;">My Rating</p>
      <rating [(ngModel)]="rate" [max]="max" [readonly]="false"
        (keyup)="userRating($event)" (ngModelChange)="ratingChange($event)" style="color: white;font-size: 29px;" class="ml-3 mr-3"></rating>
    </div>
  </div>
</div>
<hr style="color: white;background-color: white;">
