.video-stream {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.html5-main-video {
  position: absolute;
  top: 50;
  left: 50;
  width: 100%;
  height: 100%;
  outline: 0;
}

.roundedcustom {
  border-radius: 20px;
}

.cardshadow {
  box-shadow: 0 10px 20px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.945);
  text-align: center;
}

.bluetitle {
  color: #61dff0;
}

.white {
  color: white;
}

.orange {
  color: #fc6e20;
}


.header {
  margin-top: 5px;
  margin-left: 5px;
}
.title {
  color: #fff;
}
.modal {
  left: 33%;
  top: 33%;
  background-color: #000;
  border: solid 1px #fc6e20;
  border-radius: 20px;
  max-width: 500px;
  width: 500px;
  max-height: 500px;
  height: 500px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.8);
  font-family: "boston-regular";
}
.modal-title {
  color: #fff;
  background-color: #000;
  border-radius: 15px 15px 0px 0px;
  padding: 5px;
  font-weight: normal;
}
.modal-content {
  color: #c4c4c4;
  background-color: #000;
  border-radius: 15px;
}
.bs-popover-left .arrow::after {
  border-left-color: #000;
}
.bs-popover-right .arrow::after {
  border-right-color: #000;
}
.bs-popover-top .arrow::after {
  border-top-color: #000;
}
.bs-popover-bottom .arrow::after {
  border-bottom-color: #000;
}
.table-row {
  padding: 3px;
}

.popover {
  background: rgb(0, 0, 0) !important;
  border: solid 1px #fc6e20;
  border-radius: 15px;
  max-width: 400px;
  
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.8);
}

.popover-title {
  color: #fff;
  background-color: #000;
  border-radius: 15px 15px 0px 0px;
  padding: 5px;
  font-weight: normal;
}
.popover-content {
  color: #c4c4c4;
  background-color: #000;
  border-radius: 15px;
}

