<div class="rect" *ngIf="displaybookmark">
    <div class="row">
        <div class="col-10">
          <h4 class="header">Bookmark at   {{time}}</h4>
        </div>
        <div class="col">
          <button type="button" class="close text-white" aria-label="Close" (click)="onClick()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    <form>
        <div class="form-group">
          <textarea  class='textarea' id="bookmark_desc" placeholder="    Enter notes..."></textarea>
        </div>
      </form>
      <button type="button" class="button" (click)="addBookmark()">
        Add
      </button>
  </div>
  