.rect{
  width: 700px;
  height: 600px;
  border-radius: 20px;
  border: solid 1px #66b92e;
  background-color: #000000;
}
.button{
        width: 25%;
        height: 9%;
        border-radius: 32px;
        border: solid 1px #66b92e;
        background-color: #1b1b1b;
        margin-left: 40%;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
}
.header{
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 1px;
  text-align: left;
  color: #ffffff;
  margin-left: 35%;
  margin-top: 4%;
  margin-bottom: 2%;
}
.textarea{
  width: 600px;
  height: 450px;
  margin-left: 50px;
  background-color: #323232;
  color: white;
  font-size: 25px;

}
.close{
margin-right: 40px;
margin-top: 20px ;
}