.content {
  margin-top: 5px;
  margin-left: 5px;
}
.title {
  color: #fff;
}
.popover {
  background: rgb(0, 0, 0) !important;
  border: solid 1px #fc6e20;
  border-radius: 15px;
  max-width: 300px;
  width: 300px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.8);
}
.popover-title {
  color: #fff;
  background-color: #000;
  border-radius: 15px 15px 0px 0px;
  padding: 15px;
  font-weight: normal;
}
.popover-content {
  color: #ffffff;
  background-color: #000;
  border-radius: 15px;
}

.bs-popover-left .arrow::after {
  border-left-color: #fc6e20;
}
.bs-popover-right .arrow::after {
  border-right-color: #fc6e20;
}
.bs-popover-top .arrow::after {
  border-top-color: #fc6e20;
}
.bs-popover-bottom .arrow::after {
  border-bottom-color: #fc6e20;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "boston-regular";
  font-size: 20px;
}

li {
  cursor: pointer;
}
li.selected {
  background-color: #3f3f3f;
}

/* li:hover {
  background-color: #3f3f3f;
} */

.sidescroll {
  margin: 4px, 4px;
  padding: 4px;
  width: auto;
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.roundedcustom {
  border-radius: 20px;
}

.roundedcustomheader {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.roundedcustomheaderCollapse {
  border-radius: 20px;
}

.roundedcustombody {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cardshadow {
  box-shadow: 0 10px 20px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.945);
  text-align: center;
}

.cardshadowimg {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 10px 10px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.945);
}

.cardshadowcontent {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 10px 10px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.945);
  text-align: center;
}

.bluetitle {
  color: #61dff0;
}

.white {
  color: white;
}

.orange {
  color: #fc6e20;
}






a{
  text-decoration: none;
}
