@font-face{
    font-family: 'boston-regular';
    src: url("./BostonRegular.otf");
    src: url("./BostonRegular.otf") format("opentype");
}

@font-face {
    font-family: "custom-icon";
    src:url("./custom-icon.eot");
    src:url("./custom-icon.eot?#iefix") format("embedded-opentype"),
      url("./custom-icon.woff") format("woff"),
      url("./custom-icon.ttf") format("truetype"),
      url("./custom-icon.svg#custom-icon") format("svg");
    font-weight: normal;
    font-style: normal;
  
  }