<div class="card">
    <div class="card-body">
        <a [routerLink]="['/video/',id]">
            <img *ngIf="isImage" style="width: 200px;height: 130px;" class="card-img-top cover" [src]="src">
            <video *ngIf="!isImage" class="card-img-top cover">
                <source [src]="src" type="video/mp4" />
            </video>
            <div class="card-img-overlay">
                <div class="d-flex  align-items-end  flex-column" style="height: 135px;">
                    <div class="mt-auto duration ">{{duration}}</div>
                </div>
            </div>
        </a>
    </div>
</div>

