.card-body{
    background-color: #24272a;
    color: #888888;
    border: none;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.card{
    border: none;
}

video {
    width: 200px;
    height: 130px;
    border: none;
}

.cover {
    object-fit: cover;
}

.duration{
    padding-top: 0px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    color: #ffffff;
    background-color: rgb(5, 5, 5,0.7);
    height: 36px;
    font-size: 20px;
}
