[data-icon]:before {
    font-family: "untitled-font-2" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-family: "untitled-font-2" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-add-to-play-list:before {
    content: "\63";
  }
  .icon-queue:before {
    content: "\64";
  }
  .icon-heart-outline:before {
    content: "\65";
  }
  .icon-play:before {
    content: "\66";
  }
  .icon-checkbox-unchecked:before {
    content: "\62";
  }
  .icon-checkbox-intermediate:before {
    content: "\61";
  }
  .icon-checkbox-checked:before {
    content: "\67";
  }
  