
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Angular10Crud-primary: mat-palette($mat-indigo);
$Angular10Crud-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Angular10Crud-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Angular10Crud-theme: mat-light-theme((
  color: (
    primary: $Angular10Crud-primary,
    accent: $Angular10Crud-accent,
    warn: $Angular10Crud-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Angular10Crud-theme);

@import "./../../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import  "./../../node_modules/ag-grid-community/dist/styles/ag-theme-alpine-dark.css";
@import "./../../node_modules/ag-grid-community/src/styles/ag-theme-alpine-dark/sass/ag-theme-alpine-dark-mixin";


.ag-theme-alpine-dark {
    @include ag-theme-alpine-dark((
       foreground-color: #e1e1e1,
       header-foreground-color: #c4c4c4,
       checkbox-checked-color: #888888,
       font-family: 'boston-regular'
      ));
      
    .ag-root{
      background-color: #1b1b1b;
    }
    .ag-body-viewport{
      border: solid 1px #888888;
      border-radius: 15px 15px 15px 15px;
      background-color: #24272a;
    };
    .ag-header {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.8);
      background-color: #454747;
      font-weight: lighter;
      margin-bottom: 15px;
      border: solid 1px #888888;
      border-radius: 30px 30px 30px 30px;
    }
    .ag-header-cell-label {
      justify-content: center;
    }
    .ag-root-wrapper {
        border: none; 
    }
    .grid-cell-centered {
      text-align: center;
      justify-content: center;
    }
    .ag-row-selected{
      background-color: #454747;
    }
    .ag-row-hover{
      background-color: #454747 ;
    }
    .ag-row {
      background-color: #24272A;
      border-top:solid 1px #707070;
    }
    .ag-cell-focus,.ag-cell-no-focus{
      border:none !important;
    }
    .no-border.ag-cell:focus{
      border:none !important;
      outline: none;
    }
    .ag-row .ag-cell {
      display: flex;
      align-items: center;
    }
    .icon-size{
      font-size: 24px;
    }
}
// .ag-input-field-input .ag-checkbox-input{
//   box-shadow: none;
// }
// .ag-theme-alpine-dark .ag-checkbox-input-wrapper {
//   background-color: #24272a;
// }

// .ag-theme-alpine-dark .ag-checkbox-input-wrapper :active{
//   background-color: #24272a;
//   box-shadow: none;
// }

// .ag-theme-alpine-dark .ag-checkbox-input-wrapper .ag-header {
//   background-color: #454747;
// }


// .ag-theme-alpine-dark .ag-checkbox-input-wrapper::after {
//   font-family: 'custom-icon';
//   font-size: 20px;
//   content: '\62';
// }
// .ag-theme-alpine-dark .ag-checkbox-input-wrapper.ag-checked::after {
//   content: '\67';
//   // color: green;
// }
// .ag-theme-alpine-dark .ag-checkbox-input-wrapper.ag-indeterminate::after {
//   content: '\61';
//   // color: gray;
// }