<nav class="navbar navbar-dark col-12" style="background-color: #000000;position: fixed;height: 90px;">

  <a class="navbar-brand" href="#" style="cursor: pointer;font-size: xx-large;">
    <img src="../../../../assets/images/logo.png" style="height: 50px;width: 50px;" class="rounded" alt="">
    MediaLib
  </a>

  <div class="navbar-header inline-block row">

    <img src="../../../../assets/icons/account_circle-24px.svg" class="icon-header">
    <a class="navbar-brand" style="cursor: pointer;">
      <app-user-info></app-user-info>
    </a>
  </div>
</nav>
