.header-top {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #111;
  overflow-x: hidden;
}

.cardshadow {
  box-shadow: 0 10px 10px 0 #0000008e;
}

.icon-header {
  height: 50px;
  width: 50px;
  filter: invert(1);
}

.icon-header-small {
  height: 35px;
  width: 35px;
  filter: invert(1);
}
