<div class="card">
    <div class="card-body">
        <a [routerLink]="['../',video.id]">
        <img *ngIf="isImage" style="width: 375px;height: 250px;" class="card-img-top cover" [src]="video.vposter">
        <video *ngIf="!isImage" class="card-img-top cover">
            <source src="{{video.vposter}}" type="video/mp4" />
        </video>
        <div class="card-img-overlay">
            <div class="d-flex  align-items-end  flex-column" style="height: 210px;">
                <div class="icon icon-queue"></div>
                <div class="mt-auto duration ">{{video.duration}}</div>
            </div>
        </div>
        </a>
        <div class="card-body">
            <label class="video-title demo">{{video.title}}</label>
            <div class="d-flex">
                <div class="mr-auto py-1 px-2">
                    <fa-icon [icon]="faStar" class="fa-icon pr-1"></fa-icon>
                    <fa-icon [icon]="faStar" class="fa-icon pr-1"></fa-icon>
                    <fa-icon [icon]="faStar" class="fa-icon pr-1"></fa-icon>
                    <fa-icon [icon]="faStar" class="fa-icon pr-1"></fa-icon>
                    <fa-icon [icon]="faStar" class="fa-icon pr-1"></fa-icon>
                </div>
                <div class="py-1 px-2">
                    <fa-icon [icon]="faEye" class="fa-icon pr-2"></fa-icon> 
                    <label class="fa-icon">{{video.view}}</label>  
                </div>
                <div class="py-1 px-2">
                    <div *ngIf="video.favorite">
                        <fa-icon [icon]="faHeart" class="fa-icon"></fa-icon>
                    </div>
                    <div *ngIf="!video.favorite">
                        <div class="icon icon-heart-outline fa-icon"></div>
                    </div>
                </div>
                <div class="py-1 px-2">
                    <fa-icon [icon]="faInfo" class="fa-icon"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>

