.card-body{
    padding: 0px;
    background-color: #24272a;
    color: #888888;
    border: none;
}

.card{
    border: none;
}

/* img {
    width: 375px;
    height: 250px;
} */

video {
    width: 375px;
    height: 250px;
}

.cover {
    object-fit: cover;
}
  

.video-title{
    margin-top:15px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #e1e1e1;
}

.fa-icon{
    font-size: 20px;
}

.icon-queue{
    padding: 0.5rem;
    color: #ffffff;
    background-color: rgb(5, 5, 5,0.7);
    height: 42px;
    width: 44px;
    font-size: 24px;
}

.duration{
    padding: 0.5rem;
    color: #ffffff;
    background-color: rgb(5, 5, 5,0.7);
    height: 42px;
    font-size: 20px;
}

.demo
{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}