<ul class="list-group">
    <li class="list-group-item" *ngFor="let playlist of playlists" [routerLink]="[playlist.Id]" routerLinkActive="active"> 
        <div class="d-flex">
            <div class="mr-auto p-2 col-xl-8">
                <Label  class="text-ellipis" id="playlistname" contentEditable="false" style="margin-bottom: 0px;">{{playlist.name}}</Label>
            </div>
            <div class="p-2">
                <fa-icon [icon]="faPencilAlt" ></fa-icon>
            </div>
            <div class="p-2">
                <fa-icon [icon]="faTrashAlt" (click)="onDeletePlaylist(playlist.Id)"></fa-icon>
            </div>
        </div>
    </li>
</ul>