<div class="m-3">
    <div class="d-flex align-items-center">
        <h1 class="text-left">History</h1>
        <input type="text" class="input" placeholder="Search Audio">
    </div> 
    <hr>

    <div class="container-fluid"> 
        <div class="row">
            <!-- <div class="col-3 list">
                <app-playlist-items></app-playlist-items> 
            </div>
            <div class="col-9 list-data">
                <router-outlet></router-outlet>
            </div> -->
            <ag-grid-angular
                id="grid"
                class="ag-theme-alpine-dark"
                [modules]="modules"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [animateRows]="true"
                [rowSelection]="rowSelection"
                [rowMultiSelectWithClick]="true"
                [frameworkComponents]="frameworkComponents"
                [autoGroupColumnDef]="autoGroupColumnDef"
                [groupUseEntireRow]= "true"
                [groupRowRendererParams] = "groupRowRendererParams"
                [groupDefaultExpanded]="1"
                [groupSelectsChildren]="true"
                [defaultGroupSortComparator]="defaultGroupSortComparator"
                (firstDataRendered)="onFirstDataRendered($event)"
                (gridReady)="onGridReady($event)"
                rowHeight = 70.5
                >
            </ag-grid-angular>
        </div>
    </div>
</div>