<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <tabset>
        <tab id="tab1" heading="Track info." customClass="tab-style">
          <div class="tab-content">
            <ul class="list-group">
              <li class="list-group-item">Album: Aarsh Pravachanmala</li>
              <li class="list-group-item">Vakta: Sadhu Anandswarupdas</li>
              <li class="list-group-item">Location: Gandhinagar</li>
              <li class="list-group-item">Category: Pravachan</li>
              <li class="list-group-item">Published on: 07th Jan. 2020</li>
            </ul>
          </div>
        </tab>
        <tab heading="Bookmarks" customClass="tab-style">
          <div class="tab-content">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of bookmarks; let index = index">{{item.time}} : {{item.description}}</li>
            </ul>
          </div>
        </tab>
        <tab heading="Tags" customClass="tab-style">
          <div class="tab-content">
            Tags
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
