.nav-tabs .nav-link{
  background-color: #323232;
  border-bottom: 1px solid #c4c4c4;
  color: #fff;
}

.nav-tabs .nav-link.active{
  background-color: #1b1b1b !important;
  border-color: #c4c4c4;
  border-bottom-color: transparent;
  color: #fff !important;
}

.nav-tabs {
  border-bottom: 1px solid #c4c4c4;
}
.tab-content{
  background-color: #1b1b1b;
  padding: 10px;
  color: #c4c4c4;
}

.list-group-item{
  background-color: #1b1b1b;
  border: transparent;
  padding: 5px;
  padding-inline-start: 15px;
}
