h1{
    font-size: 36px;
    color: #fff;
    line-height: 1.31;
    font-weight: normal;
    margin-bottom: 0px;
}

.input{
    width: 1000px;
    height: 58px;
    border-radius: 29px;
    border: solid 2px #707070;
    background-color: #000000;
    color: #888888;
    font-size: 24px;
    line-height: 1.29;
    padding-left: 50px;
    margin: 0 auto;
}

.input:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

button, button:focus{
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 3px 6px 0 #000000;
    border: solid 1px #707070;
    background-color: #1b1b1b;
    padding: auto;
    height: 58px;
    outline: none;
}

#filterPane{
    background-color: #000000;
    border: solid 2px #707070;
    border-radius: 20px;
    margin-right: 10px;
}

label{
    margin-top: 20px;
    margin-left: 20px; 
    color: #fff;
    font-size: 24px;
}