<router-outlet></router-outlet>
<div class="container-fluid" class="fixed-bottom">

  <div class="videogular-container audio">
    <vg-player (onPlayerReady)="onPlayerReady($event)" vg-responsive="true">

      <vg-controls style="height: 130px;">
        <div class="container-fluid">
          <div class="row col-12 ">
            <p class='pull-left title'>{{ currentItem.title}}</p>
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            <vg-scrub-bar  [vgSlider]="false">
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
            <div class="row float-right volume">
              <vg-mute></vg-mute>
              <vg-volume></vg-volume>
              <div  class="mt-3 arrow" (click)="details()" *ngIf="showarrow; else elsearrow">
                <fa-icon [icon]="faAngleUp" class="icon text-white fa-lg" >
                </fa-icon>
              </div>
              <ng-template #elsearrow>
                <div (click)="details()" class="mt-3 arrow">
                  <fa-icon [icon]="faAngleDown" class="icon text-white fa-lg"></fa-icon>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="container col-12">
            <div class="row float-left">
              <p class='pull-left artist'>{{ currentItem.artist}}</p>
              <div (click)="previousAudio()" class="mt-1 play">
                <fa-icon [icon]=" faStepBackward" class="icon text-white fa-2x"></fa-icon>
              </div>
              <div (click)="backward10sec($event)" class="ml-5 mt-1 mr-5">
                <fa-icon [icon]="faUndo" class="icon text-white fa-2x"></fa-icon>
              </div>
              <app-vg-play-pause></app-vg-play-pause>
              <div (click)="forward10sec($event)" class="ml-5 mt-1">
                <fa-icon [icon]="faRedo" class="icon text-white fa-2x"></fa-icon>
              </div>
              <div (click)="nextAudio()" class="ml-5 mt-1">
                <fa-icon [icon]="faStepForward" class="icon text-white fa-2x"></fa-icon>
              </div>
            </div>
            <div class="row float-right speed ">
              <div class="ml-3 mt-2 text-white">
                <h4>{{currentSpeed}}x</h4>
              </div>
              <div class="ml-3">
                <input type="range" min="0.5" max="2" value="{{currentSpeed}}" step="0.1"
                  class="slider form-control-range mt-3" (change)="handlespeed($event.target.value)">
              </div>
              <div (click)="bookmark()"  class="ml-5 mt-3">
                <fa-icon  [icon]="faBookmark" class="icon text-white fa-lg">
                </fa-icon>
              </div>
                <div class='bookmark' *ngIf="displaybookmark">
                  <app-bookmark [time]="time" [id]="currentItem.id"></app-bookmark>
              </div>
            </div>
          </div>
        </div>
      </vg-controls>
      <audio #media [vgMedia]="media" [src]="currentItem.src" preload="auto"  autoplay="autoplay" crossorigin>
      </audio>
    </vg-player>
  </div>
</div>