
.videogular-container.audio {
    width: 1739px;
    height: 140px;
    margin:  auto;
    background-color: #000000;
    position: relative;
}

.bookmark{
  position: fixed;
  bottom:15%;
  left: 30%;
}

.title{
  width: 287px;
  height: 31px;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 1.2px;
  text-align: left;
  color: #66b92e;
  margin-top: 10px;
  margin-left: 18px;
  margin-right: 64px;
}
.volume{
  margin-left: 65px;
  margin-right: 40px;
}
.artist{
    width: 351px;
    height: 26px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 1px;
    text-align: left;
    color: #888888;
    margin-top: 12px;
    margin-left: 18px;
}
.play{
  margin-left: 334.7px;
}
.speed{
 margin-right: 45px;
}
.arrow{
  margin-left: 70px;
}
.white {
  color: white;
}

.orange {
  color: #fc6e20;
}
.range{
  color: #66b92e;
}
