<div class="row text-white">
  <div class="header1 float-left col ml-5 mb-n1">Categories</div>
  <div class="float-right mr-4"><button  class="button1" (click)="onClick()">{{buttonname}}</button></div>
</div>
<hr style="background-color: #707070; width: 1645px;">

<div class="row mt-n2" >
  <ul>
    <li *ngFor="let category of categories"><button (click)="showDataofCategory(category)" class="button">{{category}}</button></li>
    <div *ngIf="showMyContainer">
      <li *ngFor="let category of categories1"><button (click)="showDataofCategory(category)" class="button">{{category}}</button></li>
    </div>
  </ul>
</div>

