ul {
  list-style-type: none;
  overflow: hidden;
  background-color:#323232 ;
}
li {
  float: left;
  margin-top: 17px;
  margin-bottom: 17px;
  margin-right: 22px;
  margin-left: 22px;
}

.button{
  border: none;
  padding: 20px;
  display: inline-block;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 1px;
  text-align: left;
  color: #ffffff;
  height: 70px;
  border-radius: 13px;
  background-color: #4a4a4a;
}

.button1{
  width: 115px;
  height: 31px;
  border-radius: 5px;
  border: solid 1px #888888;
  background-color: #323232;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: 1px;
  text-align: left;
  color: #c4c4c4;
  margin-top: 28px;
  margin-right: 30px;
}

.header1{
  width: 132px;
  height: 31px;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 1.2px;
  text-align: left;
  color: #ffffff;
  margin-top: 28px;
  margin-left: 57.5px;
  margin-bottom: 7.5px;
}


