.nav-item.active{
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #cbced4;
  border-radius: 8px;
  background-color: #1b1b1b;
  fill: #fc6e20;
}

.nav-item{
  fill: #ffe7d0;
  text-align: center;
  text-shadow: 2px 10px rgb(7, 0, 0);
  text-decoration: none;
}


.sidenav {
  height: 100%;
  width: 90px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 90px;
  background-color: #323232;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #a82424;
}


.cardshadow {
  box-shadow: 0 10px 20px 0 #000000;
}
