<div class="sidenav cardshadow">
  <ul class="nav flex-column list-group">
    <li class="nav-item"  routerLinkActive="active">
      <a class="nav-link" (click) = "getCurrentId()" [routerLink]="audio === true ? ['/audio',id,'home'] : ['./home']">
        <svg-icon src="../../../../assets/icons/home-24px.svg" [stretch]="true"
          [svgStyle]="{'height':'35px','width':'35px'}">
        </svg-icon>
      </a>
    </li>
    <li class="nav-item mt-3 " routerLinkActive="active">
      <a class="nav-link" (click) = "getCurrentId()" [routerLink]="audio  === true ? ['/audio/',id,'search'] : ['./search']">
        <svg-icon src="../../../../assets/icons/search-24px.svg" [stretch]="true"
          [svgStyle]="{'height':'35px','width':'35px'}">
        </svg-icon>

      </a>
    </li>
    <li class="nav-item mt-3" routerLinkActive="active">
      <a class="nav-link" (click) = "getCurrentId()" [routerLink]="audio  === true ? ['/audio/',id,'history'] : ['./history']">

        <svg-icon src="../../../../assets/icons/history-24px.svg" [stretch]="true"
          [svgStyle]="{'height':'35px','width':'35px'}"
          >
        </svg-icon>

      </a>
    </li>
    <li class="nav-item mt-3" routerLinkActive="active">
      <a class="nav-link" (click) = "getCurrentId()" [routerLink]="audio  === true ? ['/audio/',id,'favorite'] : ['./favorite']">

        <svg-icon src="../../../../assets/icons/favorite_border-24px.svg" [stretch]="true"
          [svgStyle]="{'height':'35px','width':'35px'}">
        </svg-icon>

      </a>
    </li>
    <li class="nav-item mt-3" routerLinkActive="active">
      <a class="nav-link" (click) = "getCurrentId()" [routerLink]="audio  === true ? ['/audio/',id,'bookmark'] : ['./bookmark']">

        <svg-icon src="../../../../assets/icons/bookmarks-24px.svg" [stretch]="true"
          [svgStyle]="{'height':'35px','width':'35px'}">
        </svg-icon>

      </a>
    </li>
    <li class="nav-item mt-3" routerLinkActive="active">
      <a class="nav-link" (click) = "getCurrentId()" [routerLink]="audio  === true ? ['/audio/',id,'playlist'] : ['./playlist']">

        <svg-icon src="../../../../assets/icons/playlist_play-24px.svg" [stretch]="true"
          [svgStyle]="{'height':'45px','width':'45px'}">
        </svg-icon>

      </a>
    </li>

  </ul>
</div>