<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12" style="padding:0px">
            <ag-grid-angular
                    id="grid"
                    class="ag-theme-alpine-dark"
                    [rowData]="rowData"
                    [columnDefs]="columnDefs"
                    [frameworkComponents]="frameworkComponents"
                    [domLayout]="domLayout"
                    (firstDataRendered)="onFirstDataRendered($event)"
                    (gridReady)="onGridReady($event)"
                    headerHeight = 35
                    animateRows="true"
            >
            </ag-grid-angular>
        </div>
    </div>
</div>