<div class="container-fluid">
    <div class="row justify-content">
      <div class="col-lg-auto">
        <div class = 'rect'>
              <img class='rect1' src="./../../assets/images/audio-img.PNG/">  
        </div>
      </div>
      <div class="col-lg-auto">
        <div class="container ml-2">
            <div class="row ">
                <p class='text1'>{{currentItem.title}}</p>
            </div>
            <div class="row">
                <p class='text2'>{{currentItem.artist}}</p>
            </div>
            <div class="row">
                <fa-icon [icon]="faEye" class="icon fa-lg  white "></fa-icon>&nbsp;&nbsp;
                <p class=" text3 ml-3 ">{{currentItem.view}}</p>
            </div>
            <div class="row">
              <!-- <fa-icon [icon]="faStar" class="icon float-left fa-md orange "></fa-icon>&nbsp;&nbsp;
              <fa-icon [icon]="faStar" class="icon float-left fa-md orange"></fa-icon>&nbsp;&nbsp;
              <fa-icon [icon]="faStar" class="icon float-left fa-md orange"></fa-icon>&nbsp;&nbsp;
              <fa-icon [icon]="faStar" class="icon float-left fa-md orange"></fa-icon>&nbsp;&nbsp;
              <fa-icon [icon]="faStarR" class="icon float-left fa-md orange "></fa-icon>&nbsp;&nbsp; -->
              <rating [(ngModel)]="rate" [max]="max" [readonly]="false"
              (keyup)="userRating($event)" (ngModelChange)="ratingChange($event)" style="color: white;font-size: 29px;" class="ml-3 mr-3"></rating>
              <fa-icon *ngIf="!currentItem.favourites" [icon]="faHeartR" class="icon fa-lg white  favourite" (click)="favoriteChange()"></fa-icon>
              <fa-icon *ngIf="currentItem.favourites" [icon]="faHeart" class="icon fa-lg white  favourite" (click)="favoriteChange()"></fa-icon>
              <div class="icon icon-add-to-play-list white ml-4 mt-n1" (click)="addToPlaylist(currentItem)" style="font-size: 30px"></div>
              
            </div>
          
              <div class="underline"></div>
              <div class="row mt-3 justify-content">
                <p class='text4'>Album : {{currentItem.album}}</p>
            </div>
            <div class="row">
              <p class='text4'>Duration :{{currentItem.duration}}</p>
          </div>
        <div class="row">
          <p class='text4'>Category :{{currentItem.category}}</p>
      </div>
        </div>
      </div>
      <div class="col tabs">
        <app-audio-tabs></app-audio-tabs>
      </div>
    </div>

