.rect{
    width: 305px;
    height: 324px;
    border-radius: 13px;
    border: solid 3px #707070;
    background-color: #1b1b1b;
    margin-top:57px;
    margin-bottom: 470px;
}
.rect1{
    margin-top: 37px;
    margin-left: 27px;
}
.text1{
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: 1px;
    text-align: left;
    color: #66b92e;
    margin-top: 56px;
}
.text2{
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 1px;
  text-align: left;
  color: #c4c4c4;
}
.text3{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 1px;
    text-align: left;
    color: #888888;
}
.text4{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 1px;
    text-align: left;
    color: #c4c4c4;
}
.underline{
    width: 450px;
    height: 0;
    border: solid 1px #707070;
    margin-top:24.5px;
    margin-left: -15px;
}
.white {
    color: white;
  }
  
  .orange {
    color: #fc6e20;
  }
  .favourite{
      margin-left : 170px;
  }
  .tabs{
      margin-top:57px ;
      margin-left: 5px;
  }
 