label{
    font-size: 36px;
    color: #fff;
    line-height: 1.31;
    font-weight: normal;
    margin-bottom: 0px;
}

.badge{
    font-size: 24px;
    line-height: 1.31;
}

#grid{
    width: 100%;
    height: 600px;
}

.text-ellipis{
    max-width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;

}

.icon{
    color: #fff;
    font-size: 30px ;
}