<ng-template #popContent>
  <a>Profile</a>
  <hr>
  <h6 (click)="Logout()">Logout</h6>
</ng-template>


<svg-icon src="../../../../../assets/icons/keyboard_arrow_down-24px.svg" [stretch]="true"
  [svgStyle]="{'fill':'#181D23'}" class="icon-header" tabindex="1" triggers="focus" [popover]="popContent"
  placement="bottom" container="body">
</svg-icon>
