<ul class="list-group">
    <li class="list-group-item" *ngFor="let bookmark of bookmarks" [routerLink]="[bookmark.id]" routerLinkActive="active"> 
        <div class="d-flex">
            <div class="mr-auto p-2 col-xl-8">
                <Label class="text-ellipis"  style="margin-bottom: 0px;">{{bookmark.title}}</Label>
            </div>
            <div class="p-2">
                <fa-icon [icon]="faTrashAlt" ></fa-icon>
            </div>
        </div>
    </li>
</ul>