
.list-group-item.active {
    background-color: #000000;
    color: #66b92e;
    border-top:none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #888888;
    border-top: 1px solid #888888;
}

.list-group-item{
    background-color: #24272a;
    font-size: 24px;
    line-height: 1.29;
    text-align: left;
    color: #e1e1e1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #888888;
}

.list-group-item:focus{
    outline: 0;
}

.text-ellipis{
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;

}