<div class="container-fluid">
  <div class="row" style="z-index: 1;position: fixed;">
    <app-header></app-header>
  </div>
  <div class="row">
    <div class="col">
      <app-left-panel></app-left-panel>
    </div>
    <div class="col-11" style="margin-top: 90px;">
      <router-outlet></router-outlet>
    </div>
    <div class="col">
      <app-right-panel></app-right-panel>
    </div>
  </div>


</div>
