<div class="m-3">
    <div class="d-flex align-items-center">
        <h1 class="text-left">Playlist</h1>
        <input type="text" class="input" placeholder="Search Video">
    </div> 
    <hr>

    <div class="container-fluid list-container"> 
        <div class="row">
            <div class="col-3 list">
                <app-playlist-items></app-playlist-items> 
            </div>
            <div class="col-9 list-data">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>