.home{
    margin-top: 10px;
    margin-left: 21px;
    margin-right: 22px;
}
.header1{
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
    margin-top: 28px;
    margin-left: 57.5px;
    margin-bottom: 7.5px;
  }
  .underline{
    margin-top: 7,5px;
    margin-left: 45px;
    width: 1620px;
    border: solid 1px #707070;
   }
   .button1{
    width: 115px;
    height: 31px;
    border-radius: 5px;
    border: solid 1px #888888;
    background-color: #323232;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: 1px;
    text-align: left;
    color: #c4c4c4;
    margin-top: 28px;
    margin-right: 40px;
  }

  white {
    color: white;
  }
  body > [uib-modal-window]:not([modal-render]) {
    display: none;
}
body.modal-open {
padding-right: 0!important;
}