<app-category (categoryName) = "getCategoryData($event)"></app-category>
<div class="container-fluid">
        <div class="row text-white">
            <div class="header1 float-left col ml-5 mb-n1">{{headerName}}</div>
          </div>
          <hr style="background-color: #707070; width: 1645px;">
    <div class="home">
    <ag-grid-angular
    style="width: 100%; height: 500px;"
    class="ag-theme-alpine-dark"
    id="myGrid"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [rowClassRules]="rowClassRules"
    [rowSelection]="rowSelection"
    [frameworkComponents]="frameworkComponents"
    animateRows="true"
    rowDragManaged="true"
    (firstDataRendered)="onFirstDataRendered($event)"
    (gridReady)="onGridReady($event)"
    (cellClicked)="oncellClicked($event)"
    headerHeight = 35
    rowHeight = 77.5
    groupHeaderHeight = 0
    >
</ag-grid-angular>
</div>
</div>