<div class="container-fluid mt-4">

  <div class="row " style="position: relative;height: 720px;">

    <div class="col-md-8" style="height: 620px;width: 1080px;">

      <app-player [currentItem]="currentItem" [rateItem]="rateItem"></app-player>
      <app-tabs [bookmarks]="bookmarks"></app-tabs>

    </div>
    <div class="col-md-4" style="max-height: 50%;">
      <app-queue [currentItem]="currentItem"></app-queue>
      <app-sugeestions [currentItem]="currentItem"></app-sugeestions>
    </div>
  </div>

</div>
