.sidescroll {
  margin: 4px, 4px;
  padding: 4px;
  /* // background-color: green; */
  width: inherit;
  height: 750px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.roundedcustom {
  border-radius: 20px;
}

.roundedcustomheader {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cardshadow {
  box-shadow: 0 10px 20px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.945);
  text-align: center;
}

.cardshadowimg {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 10px 10px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.945);
}

.cardshadowcontent {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 10px 10px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.945);
  text-align: center;
}
